body {
  max-width: 720px;
  margin: auto;
  background-color: #f7f7f7;
  color: #222222;
  font-family: sans-serif;
}

nav {
  word-spacing: 30px;
}

table {
  width: 100%;
}

th {
  text-align: left;
  padding-bottom: 5px;
}

tr {
  text-align: left;
}

.active-page {
  font-weight: bold;
  font-size: 110%;
}

.post {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 720px) {
  body {
    font-size: 160%;
    margin: 10px;
  }

  h1 {
    font-size: 160%;
  }

  nav {
    word-spacing: 10px;
  }
}
