body {
  max-width: 720px;
  margin: auto;
  background-color: #f7f7f7;
  color: #222222;
  font-family: sans-serif;
  font-size: 90%
}

nav {
  word-spacing: 30px;
}

table {
  width: 100%;
}

th {
  text-align: left;
  padding-bottom: 5px;
}

tr {
  text-align: left;
}

p {
  line-height: 1.5;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.tool {
  width: 56px;
  height: 56px;
  margin: 8px;
}

.active-page {
  font-weight: bold;
  font-size: 110%;
}

.post {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 720px) {
  body {
    font-size: 130%;
    margin: 10px;
  }

  h1 {
    font-size: 150%;
  }

  nav {
    word-spacing: 10px;
  }

  p {
    line-height: 1.25;
  }

  .tool {
    width: 104px;
    height: 104px;
    margin: 4px
  }
}
